<!doctype html>
<html>

<head>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/fonts/fontawesome-webfont.eot">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/fonts/fontawesome-webfont.svg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/fonts/fontawesome-webfont.ttf">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/fonts/fontawesome-webfont.woff">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/fonts/fontawesome-webfont.woff2">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link rel="stylesheet" href="bgt/style.css">

    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular.min.js"></script>-->

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>

    <script src="bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="controllers/main.js"></script>

    <script src="app.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/bootstrap-ui/ui-bootstrap-1.3.3.js"></script>
    <script src="bower_components/bootstrap-ui/ui-bootstrap-tpls-1.3.3.js"></script>


</head>


<body ng-app="test" ng-controller="main">
<div class="container-fluid">
    <div class="row">
        <div class="container">
            <header>
                <div class="col-sm-6">
                    <a href="/">
                        <i class="fa fa-heartbeat logo"></i>
                    </a>
                </div>
                <div class="col-sm-6">
                    <div class="col-sm-offset-6 col-sm-6">
                        <ul class="list-inline text-right">
                            <li><a href="profile.html">Customer/Doctor profile</a></li>
                            <li><a ng-click="open('lg')">Register</a></li>
                        </ul>
                    </div>
                </div>
            </header>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="container">
            <div class="col-sm-4 col-sm-offset-4 text-center">
                <h2 class="text-center">Log In</h2>
                <form class="loginForm">
                    <div class="form-group">
                        <label class="sr-only" for="">Email address</label>
                        <input type="email" class="form-control" id="" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="">Password</label>
                        <input type="password" class="form-control" id="" placeholder="Password">
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Remember me
                        </label>
                    </div>
                    <button type="submit" class="btn btn-default">Sign in</button>
                    <a href="customerPage.html" class="text-center col-sm-12">+</a>
                </form>
            </div>

        </div>
    </div>
</div>


</body>


</html>