<div id="register" class="col-sm-4 col-sm-offset-4">
    <form action="">
        <h3>Register now</h3>
        <div class="form-group">
            <label class="sr-only" for="">Email address</label>
            <input type="email" class="form-control" id="" placeholder="Email">
        </div>
        <div class="form-group">
            <label class="sr-only" for="">Password</label>
            <input type="password" class="form-control" id="" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-default">Register</button>
    </form>
</div>