.clear{
    clear: both;
}



.logo{
    font-size: 60px;
    color: #84E3B3;
    padding-top: 40px;
    margin-bottom: 40px;
}

.loginForm{
    width: 100%;
    background: #fff;
    padding-top: 20px;
}

.loginForm input[type=text]{
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    height: 40px;
    line-height: 40px;
    text-indent: 15px;
    color:#000;
    font-size: 16px;
    width: 80%;

}

.loginForm input[type=submit]{
    background: none;
    border: 1px solid #84E3B3;
    width: 80%;
    color: #000;
    text-indent: 0;
}
.loginForm input[type=submit]:hover{
    background: #84E3B3;
    color: #fff;
}

input::-webkit-input-placeholder{
    color: #000;

}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #909;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #909;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #909;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #909;
}

header li{
    line-height: 140px;
}

.modalWindow{
    display: none;
    background: #fff;
}

.doctor-info .info-group:last-child{
    border-bottom:none;
}

.info-group{
    border-bottom: 1px solid #000;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

#register{
    background: #fff;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}



















.popupForm{
    padding-top: 40px;
    padding-bottom: 40px;
    position: absolute;
    top: 120px;
    background: #ebebeb;
}

.popupForm form{
    padding-top: 20px;
}

.popupForm input{
    display: block;
    border: 1px solid #000;
    margin: 0 auto;
    margin-bottom: 20px;
}

.popupForm p{
    padding-left: 15px;
}

.hidden{
    display: none;
}

.visible{
    display: block !important;

}

input.ng-invalid{
    outline-color: red;
}